@import url('https://fonts.googleapis.com/css?family=Montserrat|Open+Sans|Roboto');

/*********************/
/***  HEADER  ***/
/*********************/

.section-header {
	background-image: 
		linear-gradient(rgba(0, 0, 0, .7), 
			rgba(0, 0, 0, .7)), url('https://www.osfashland.org/~/media/Content-Masthead-Folder/WeatherMH47.ashx?as=1&h=308&la=en&w=746&hash=88B4BF08C1D40F898E4AD0E7EFA866F20C831F87');
	background-attachment: fixed;
	background-size: cover;
	height: 50vh;
	background-position: cover;
	margin-bottom: 40px;
	display:flex;
	align-items: center;
	justify-content: center;
}

.flex-box-header, .flex-box-row {
	display:flex;
	justify-content: center;
	align-items: center;
	flex-flow: row wrap;
}

.flex-box-header {
	height:80vh;
}

h1 {
	font-size: 5em;
	color:#fff;
	letter-spacing: 3px;
	margin:0 auto;
	font-family: 'Montserrat', sans-sarif;
	text-transform: uppercase;
}



/*********************/
/***  LOADING PROGRESS  ***/
/*********************/

.loading-bar {
	height:24px;
	border-radius: 20px;
	width:70%;
	background-color: lightgray;
	margin:0 auto;
}

.loading-bar-progress {
	height:24px;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
	background-color: #8e44ad;
	width:1%;
}




/*********************/
/*** WEATHER SECTION  ***/
/*********************/

.weather-section {
	font-family: 'Lato', sans-sarif;
	font-size:1.5em;
	margin-bottom:20px;
}

.weather-section span{
	font-weight:bold;
}

.btn {
	border:0;
	background-color:lightgray;
	padding:20px;
	border-radius:5px;
}

.info-box {
	padding:15px;
}

/*********************/
/***  FOOTER  ***/
/*********************/

.section-footer {
	background-color: #333333;
	color:#fff;
}

.section-footer i, .section-footer a, .section-footer h4 a {
	display:block;
	color:#fff;
	font-weight:bold;
	letter-spacing: 1px;
	word-spacing: 1px;
	font-size: .9em;
	margin-top:10px;
}

.section-footer a {
	text-decoration: none;
}

.section-footer a:hover, .section-footer i:hover, section-footer p:hover {
	color:#8e44ad;
}