@import url('https://fonts.googleapis.com/css?family=Montserrat|Open+Sans|Roboto');


body {
	margin: 0 auto;
	color:#fff!important;
	
}

.container .nomargin {
	margin:0;
	padding:0;
	width:100%;
}

.content-main {
	margin:10% auto;
}

.padding {
	margin: 50px 0;
}

/* Navigation Styling */

.navbar {
	/*background: #34495e!important;*/
	padding:20px;
	margin-bottom:0!important;
	padding-top:30px;
}

.navbar-inverse .navbar-nav>li>a {
	color:#ecf0f1!important;
	font-size:1.5em;
}

.navbar .navbar-brand:hover {
	color:#2980b9!important;
}

.navbar .navbar-brand {
	color: #ecf0f1!important;
	font-size:2.5em;
}



#main-content {
	background-image: url(../img/clouds.jpg)!important;
	/*background:#2ecc71;*/
	width:100%;
	margin-top:0!important;
	padding-top:0!important;
}

.info-box {
	background-color: #fff!important;
	color:black!important;
	margin:1%;
	padding:20px;
	width:50%;
	border-radius:20px;
	font-weight:bold;
	font-size:2em;
	font-family:'Roboto', sans-serif!important;
}

.info-row {
	padding:20px;
	padding-left:30px;
	padding-right:30px;
}

.weather-section {
	margin-bottom:100px;
}

.darksky a {
	font-size:1.5em!important;
	font-weight:bold!important;
	color:#fff!important;
}

footer {
	background:#333;
	color:white;
	height:70px;
	width:100%!important;
	
}


footer p {
	padding-top:15px;
	padding-left:auto;
	padding-right: auto;
	margin:auto;
	font-weight:bold;
	font-family: monospace;
}



footer a:link {
	text-decoration: none;
	color:#2980b9!important;
}

/*footer a {
	color:#fff;
}
*/
footer a:hover {
	color:#fff!important;
}